<h1 class="text-3xl font-bold font-montserrat mt-6 ">Todos los productos</h1>
<h2 class="text-xl mb-5">Para todos los gustos</h2>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 my-5 gap-3">
    @for (product of productResource.value()?.products ?? []; track $index) {
        <app-card [product]="product" ></app-card> 
    }

    @empty {
        <p>No hay productos</p>
    }


    

</div>
<app-pagination [pages]="productResource.value()?.pages ?? 1" [currentPage]="currentPage()" ></app-pagination>