<div class="card card-compact bg-base-100 mt-5  shadow-xl animate-fadeIn">
  <figure>
    <img
      [src]="product().images| productImage"
      [alt]="product().title" />
  </figure>
  <div class="card-body">
    <h2 class="card-title text-primary text-xl cursor-pointer" [routerLink]="['/product', product().slug]">{{product().title}}</h2>
    <p>{{product().description | slice : 0 : 70 }}...</p>
    <div class="card-actions justify-end">
      <a class="btn btn-primary" [routerLink]="['/product', product().slug]">Ver más</a>
    </div>
    
</div>
