<h1 class="text-2xl m-5">Teslo <span class="text-sky-600 font-montserrat">| shop </span></h1>
<div class="flex flex-col items-center ">
    
    
    <h2 class="text-3xl font-bold mb-2 mt-10">Registro de <span class="text-sky-600">sesión</span></h2>
    <h3 class="text-gray-400">Bienvenido! Introduce tus credenciales</h3>
    
    <div class="m-7 ">
        <legend class="fieldset-legend">Correo</legend>
        <input class="input input-primary placeholder-gray-400  w-[400px] mb-6 " type="text" placeholder="Introduce tu correo">
        <legend class="fieldset-legend">Contraseña</legend>
        <input class="input input-primary placeholder-gray-400 w-[400px]" type="text" placeholder="Introduce tu contraseña">
    </div>

    <button class="btn btn-primary w-[400px]">Registrarse</button>
    <p class="mt-5">¿Tienes cuenta? <a class="text-primary hover:underline cursor-pointer" routerLink="/auth/login">Inicio de sesión</a></p>
  
</div> 